:host {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  background: #fefefe;

  padding: 10px 10px;
}

h1 {
  margin: 0 0 5px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.mails {
  flex: 1 0 auto;
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mail {
  position: relative;
  padding: 7px 10px 7px 15px;
  border-bottom: 1px solid #ddd;

  .title {
    font-weight: 500;
  }

  .excerpt {
    font-size: 0.8em;
    color: #777;
  }

  .unread {
    position: absolute;
    top: 12px;
    left: 2px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: blue;
  }
}
