h1 {
  font-size: 28px;
  margin: 0 0 10px 0;
}

h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

div {
  padding: 20px 0;
  background: #fff;
}

section:not(:last-child) {
  margin-bottom: 50px;
}

.item {
  z-index: 1;
  text-decoration: none;
  color: black;
  margin-top: 15px;
  background-color: white;
  padding: 8px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  border: 1px solid #8d9eba;
}
