@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/**
 picture:     1200x2290
 screen dim:  994 / 1494:
  */

img {
  @include center;
  height: 100vh;
  z-index: 0;
}

section {
  @include center;
  width: calc(100vh / 2290px * 994px);
  height: calc(100vh / 2290px * 1494px);

  background: #fff no-repeat center center;
  background-size: cover;

  z-index: 1;
}

header {
  height: 3%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 1%;

  background: #000000;
  color: #ffffff;
  font-size: 12px;

  cursor: default;
}

main {
  height: 97%;
}

.homebutton {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5%;
  display: block;
  width: 10vh;
  height: 10vh;
  border-radius: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: pink;
  z-index: 5;
}
